.side{
    width: 25vw;
    background-color: #f40;
}
.main{
    width: 75vw;
    background-color: #ee0;
}

div{
    height: 100vh;
}

body{
    display: flex;
    align-items: center;
    min-height: 125vh;
    padding: 0;
    margin: 0;
}