body{
  min-width: 1000px;
  padding: 0px
}

.main-wrapper{
  float: left;
  width: 100%;
}
.main{
  height: 300px;
  margin-left: 210px;
	margin-right: 190px;
  background-color: rgba(255,0,0,0.5);
}
.sub{
  float: left;
  width: 200px;
  height: 300px;
  margin-left: -100%;
  background-color: rgba(0,255,0,0.5);
}
.extra{
  float: left;
  width: 180px;
  height: 300px;
  margin-left: -180px;
  background-color: rgba(0,0,255,0.5);
}