.no-spread,
.spread {
	height: 100px;
	width: 100px;
	border: 1px solid #111;
	margin: 1em;
	display: inline-flex;
	font-family: sans-serif;
	align-items: center;
	justify-content: center;
}

.no-spread {
	box-shadow: 200px 200px 0 0px;
}

.spread {
  box-shadow: 200px 200px 40px 0px;
}
